// ベース
:root {
  /* main colors */
  --color-primary: #00b3ff;
  --color-secondary: #80d9ff;
  --color-text: #3f3f3f;
  --color-bg: #f0f0f0;

  /* font sizes */
  --font-size-body: 0.85rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
}

@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium");
}
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
html {
  font-family: YuGothic, /* For Mac */ "Yu Gothic M", "Yu Gothic Medium",
    /* For Windows Firefox, Edge, IE */ "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", /* For Mac Fallback */ Meiryo,
    /* For Windows Fallback (Chrome) */ sans-serif;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size-body);
}

// ボタンのスタイリング
.el_btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 1.15rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  &:hover,
  &:focus {
    background-color: var(--color-bg);
    color: var(--color-primary);
    border-color: currentColor;
    cursor: pointer;
  }
}

// タグのスタイリング
.el_tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  border: 2px solid transparent;
  border-radius: 1em;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s;
  background-color: var(--color-text);
  color: var(--color-bg);
  &.el_tag__link {
    &:hover,
    &:focus {
      background-color: var(--color-bg);
      color: var(--color-text);
      border-color: currentColor;
    }
  }
}

// 見出しのスタイリング
.el_level1Heading {
  padding-left: 0.5rem;
  border-left: 0.5rem solid var(--color-primary);
  font-size: var(--font-size-h1);
  font-weight: bold;
}
.el_level2Heading {
  padding-left: 1rem;
  border-bottom: 0.5rem solid var(--color-primary);
  font-size: var(--font-size-h2);
}
.el_txt {
  padding-left: 1rem;
}
